.wrapper {
  display: flex;
  width: 93%;
  height: 88vh;
  margin: 6vh auto;
}
.sidebarWrap {
  width: 21%;
  background: rgb(114, 64, 200);
  border-radius: 25px;
  background: linear-gradient(
    0deg,
    rgba(114, 64, 200, 1) 0%,
    rgba(53, 93, 200, 1) 100%
  );
}
.sideContentWrap {
  margin-top: 31vh;
}
.sidebarWrap h4 {
  cursor: pointer;
  color: white;
  margin: 0em 2.5em;
  padding: 1em 0;
  border-bottom: 1px solid lightgrey;
}
.sidebarWrap h4:hover {
  color: lightgrey;
}
.contentwrap {
  width: 89%;
  border: 1px solid lightgrey;
}
.headingWrap {
  border: 1px solid lightgrey;
}

.profile_address_wrapper {
  display: flex;
  border: 1px solid lightgrey;
}
.leftProfile {
  border: 1px solid lightgrey;
}
.rightAddress {
  border: 1px solid lightgrey;
}
