.wrap {
  background: rgb(114, 64, 200);
  background: linear-gradient(
    90deg,
    rgba(114, 64, 200, 1) 0%,
    rgba(53, 93, 200, 1) 100%
  );
  padding-top: 10%;
  height: 350px;
}
.contentWrapper {
  width: 40%;
  margin: 0 auto;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 7px 17px 2px rgba(212, 212, 212, 0.75);
  -webkit-box-shadow: 0px 7px 17px 2px rgba(212, 212, 212, 0.75);
  -moz-box-shadow: 0px 7px 17px 2px rgba(212, 212, 212, 0.75);
}
.contentWrapper h2 {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 1.5em 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.accountWrapper {
  padding: 0.5em 2.5em;
  height: 410px;
  overflow: scroll;
  border: 1px solid #f6f6f6;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.cardwrap {
  display: flex;
  padding: 0.6em 0;
  align-items: center;
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;
}
.cardwrap:hover {
  background-color: #f6f6f6;
}
.cardwrap img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.cardwrap h3 {
  margin-left: 1em;
}
